body {
    background: #e2bbdd;
  }

.color-1 {
    color: blue;
}

/* RedGreenBlue каждые 2 числа это цвет*/
.color-2 {
    color: #703045;
}

.color-3 {
    color: #fff
}

/* 0-255*/
.color-4 {
    color: rgb(184, 60, 184);
    opacity: 0.5;
}

/* 4й параметр это прозрачность от 0 до 1*/
.color-5 {
    color: rgba(184, 60, 184, 0.5);
}

.lash {
    border-color: rgb(178, 213, 235);
    border-radius: 20px;
}

a {
    color: #5e1b52;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: rgb(164, 7, 125);
    font-size: 2rem;
}

a:visited {
    color: rgb(72, 4, 65)
}

a:active {
    color: rgb(130, 73, 95)
}

.btn {
    background: #8f0a70;
    padding: 15px 20px;
    color: #dba5d1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
}

.form h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: rgb(130, 73, 95)
}

.form-group input .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #dba5d1;
    padding: 15px 0 10px;
    outline: 0;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row,
.form-group {
   /* display: inline-block;*/
    margin-right: 20px;
    width: 50%;
    /* width: calc(505-20px);*/

}
.info{
    margin-bottom: 20px;
    
}